[Unit]
Description=jupyter-notebook
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
EnvironmentFile=/etc/environment
ExecStart={{jupyter_bin}} notebook --config /opt/jupyter/jupyter_notebook_config.py

[Install]
WantedBy=multi-user.target
